body {
    background-image: url("https://images.unsplash.com/photo-1558066858-246fbbf9446f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80");
}

h1 {
    color: darkmagenta;
    background-color:powderblue;
    margin: 50px;
    padding: 5px;
    text-align: center;
}

img {
    border: 2px solid rosybrown;
    border-radius: 16px;
    width: 300px;
}

img:hover {
    width: 350px;
}

.rotate-image {
    transform: rotate(180deg);
    opacity: 50%;
    border: none;
}

button {
    background-color: #7a7f80;
    color: white;
}

button:hover {
    background-color: black;
    width: 100px;
}

.text {
    background-color: #ffd85c;
}