h1 {
    color: darkblue;
    background-color: gold;
    margin: 50px;
    padding: 5px;
    text-align: center;
}

img {
    border: 3px solid gray;
    border-radius: 16px;
    width: 300px;
}

.rotate-image {
    transform: rotate(180deg);
    opacity: 50%;
    border: none;
}